# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Logs and DBs
*.log
logs/
backend/logs/
*.db
*.db-journal
*.db-wal
*.db-shm

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & IDE
.env
.DS_Store
.idea/
.vscode/
